.container__about {
    display: flex;
    width: 100%;
    padding: 4rem 10rem;
    min-height: 100vh;
    gap: 2rem;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.container__about p {
    text-align: justify;
}

.container__phrase {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__phrase {
    background-color: #6fc2b0;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 700px) {
    .container__about {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 4rem 2rem 0rem 2rem;
    }
}