.container__about {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    padding: 7rem 1rem 0rem 1rem;
}

.section_dates {
    display: flex;
    flex-direction: column;
}

.section_dates h1 {
    font-size: 1.5rem;
}

.section_dates h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.section_dates h3 {
    font-size: 1.2rem;
}

.section_dates p {
    text-align: justify;
}

.education_dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media (min-width: 1025px) {
    .container__about {
        display: grid;
        max-width: 1440px;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 6rem 6rem 2rem 6rem;
    }

}