.container__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 6rem 10rem;
    min-height: 100vh;
    gap: 3rem;
}

.container__phrase {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aboutme__info p {
    text-align: justify;
    padding-top: 1rem;
}

.about__phrase {
    margin-top: 1rem;
    background-color: #6fc2b0;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.experiencie__dates {
    display: flex;
    justify-content: space-between;
}

.experiencie__counters {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card__counter {
    width: 200px;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #3a78f2;
    margin-right: 20px;
    transform: perspective(800px);
    transition: transform 0.3s ease;
}

.card__counter:hover {
    transform: perspective(500px) rotateY(-30deg) rotateX(5deg) scale(1.15);
    background-color: #fff;
    color: black;
    cursor: zoom-out;
}

@media (max-width: 700px) {
    .container__about {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 4rem 2rem 0rem 2rem;
    }
}