.container__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 6rem 2rem 6rem;
    gap: 3rem;
    margin: auto;
    height: calc(100% - 85px);
    max-width: 1440px;
}

.aboutme__info p {
    text-align: justify;
    padding-top: 1rem;
}

.about__phrase {
    margin-top: 1rem;
    background-color: #6fc2b0;
    padding: 1rem;
    color: #000;
}

.container_dates {
    display: grid;
    gap: .5rem;
    margin-top: 1rem;
}

.experiencie__dates {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: .5rem;
}

.section_dates {
    display: flex;
    flex-direction: column;
}

@media (max-width: 700px) {
    .container__about {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 6rem 2rem;
    }
}