.container__contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100% - 85px);
    padding: 9rem 5rem 2rem 10rem;
    max-width: 1440px;
    gap: 4rem;
    margin: auto;
}

.info__personal {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    justify-content: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-family: inherit;
    width: 350px;
    padding: 1rem;
    border-radius: .3rem;
    background-color: rgba(27, 27, 27, 0.9);
}

.contact__form input,
.contact__form textarea {
    border: none;
    padding: 1rem;
    font-family: inherit;
    outline: none;
    color: #fff;
    background: #343434;
}

.contact__form input:focus,
.contact__form textarea:focus {
    box-shadow: 0 0 7px #3a78f2;

}

.container__form {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.contact__form {
    display: flex;
    border-radius: .3rem;
    font-family: inherit;
    border: solid 3px #383838;
}


@media (max-width: 700px) {
    .container__contact {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3rem;
        padding: 6rem 2rem;
    }
}