.container__contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100% - 85px);
    padding: 9rem 5rem 2rem 10rem;
    max-width: 1440px;
    gap: 4rem;
    margin: auto;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-family: inherit;
    width: 350px;
    padding: 1rem;
    border-radius: .3rem;
    background-color: rgba(27, 27, 27, 0.9);
}

.contact__form input,
.contact__form textarea {
    border: none;
    padding: 1rem;
    font-family: inherit;
    outline: none;
    color: #fff;
    background: #343434;
}

.contact__form input:focus,
.contact__form textarea:focus {
    box-shadow: 0 0 7px #3a78f2;
}

.container__form {
    display: flex;
    position: relative;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    font-family: inherit;
    border-radius: .3rem;
    box-shadow: #3a78f2 0px 3px 8px;    
}

.container__form:before,
.container__form__circuit-mask {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 682px;
    height: 514px;
}

.container__form:before {
    background: url(../../assets/bg-circuito.svg);
}

.container__form__circuit-mask {
    display: grid;
    place-items: center;
    -webkit-mask: url(../../assets/bg-circuito.svg);
    mask: url(../../assets/bg-circuito.svg);
}

.container__form__circuit-mask:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #3a78f2;
    /* animation: expansive 8s infinite;
    animation-delay: 2s; */
    animation-name: expansive;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes expansive {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(8);
    }

    100% {
        transform: scale(8);
    }
}