.container__home {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    height: calc(100% - 85px);
    padding: 6rem 1rem;
    gap: 1rem;
}

.home__info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.word {
    padding: 0rem 0.3rem;
}

.letter__name {
    display: inline-block;
    transition: transform 0.4s;
}

.letter__name:hover {
    transform: scale(1.2) skewY(-10deg);
    cursor: default;
    color: var(--secondary-color);
}

.home__info h1 {
    font-size: 2.1rem;
    font-weight: 600;
}

.home__info h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.home__info h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.home__info p {
    padding-top: 1rem;
    text-align: justify;
}

.home__img img {
    width: 100%;
    border-radius: 50%;
}

@media (min-width: 769px) {
    .container__home {
        padding: 6rem 1rem 0rem 6rem;
    }

    .home__img img {
        width: 400px;
    }
}

@media (min-width: 1025px) {
    .container__home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 7rem 1rem 0rem 6rem;
        max-width: 1440px;
        justify-content: space-between;
        margin: auto;
        text-align: left;
    }
}