.container__home {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 4rem 2rem 0rem 10rem;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}

.home__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: left;
}

.home__info h1 {
    font-size: 2.5rem;
    color: #3a78f2;
}

.home__info h2 {
    font-size: 2.5rem;
}

.home__info p {
    padding-top: 1rem;
    text-align: justify;
}

.home__info button {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: .2rem;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    background-color: #3a78f2;
    border: none;
    color: #fff;
    font-family: inherit;

}

.home__info button span {
    background-color: #fff;
    position: absolute;
    transition: .5s;
}

.home__info button span:nth-child(1) {
    width: 100%;
    height: 3px;
    top: 0;
    left: -100%;
}

.home__info button span:nth-child(2) {
    width: 100%;
    height: 3px;
    bottom: 0;
    right: -100%;
}

.home__info button span:nth-child(3) {
    width: 3px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

.home__info button span:nth-child(4) {
    width: 3px;
    height: 100%;
    top: -100%;
    right: 0;
}

.home__info button:hover {
    color: #fff;
    background-color: transparent;
}

.home__info button:hover span:nth-child(1) {
    left: 0;
}

.home__info button:hover span:nth-child(2) {
    right: 0;
}

.home__info button:hover span:nth-child(3) {
    bottom: 0;
}

.home__info button:hover span:nth-child(4) {
    top: 0;
}

.home__img {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 2rem;
}

.home__img img {
    display: flex;
    width: 500px;
    aspect-ratio: 1.2;
    border-radius: 50% 10%;
}

@media (max-width: 700px) {
    .container__home {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 5rem 1rem;
    }

    .home__img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .home__img img {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 50% 10%;
    }

    /* .home__info h1 {
        font-size: 1.5rem;
    }

    .home__info h2 {
        font-size: 1.2rem
    }

    .home__info h3 {
        font-size: 1rem
    } */

}