.container__projects {
    display: grid;
    padding: 7rem 1rem;
    gap: 1rem;
}


@media (min-width:1025px) {
    .container__projects {
        padding: 7rem 1rem;
        max-width: 1440px;
        margin: auto;
    }
}