.buttton__modern {
    margin-top: 1rem;
    background-color: #3a78f2;
    padding: 1rem;
    border: none;
    border-radius: .2rem;
    color: var(--text-color);
    cursor: pointer;
    letter-spacing: .2rem;
    font-weight: 700;
    overflow: hidden;
    font-family: inherit;
    position: relative;
}

.buttton__modern span {
    background-color: var(--text-color);
    position: absolute;
    transition: .5s;
}

.buttton__modern span:nth-child(1) {
    width: 100%;
    height: 3px;
    top: 0;
    left: -100%;
}

.buttton__modern span:nth-child(2) {
    width: 100%;
    height: 3px;
    bottom: 0;
    right: -100%;
}

.buttton__modern span:nth-child(3) {
    width: 3px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

.buttton__modern span:nth-child(4) {
    width: 3px;
    height: 100%;
    top: -100%;
    right: 0;
}

.buttton__modern:hover {
    background-color: transparent;
}

.buttton__modern:hover span:nth-child(1) {
    left: 0;
}

.buttton__modern:hover span:nth-child(2) {
    right: 0;
}

.buttton__modern:hover span:nth-child(3) {
    bottom: 0;
}

.buttton__modern:hover span:nth-child(4) {
    top: 0;
}