.container__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 1rem;
    margin: auto;
    margin-top: auto;
    margin-bottom: 0;
}

.footer__socialmedia {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.footer__socialmedia_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.footer__divider_line {
    flex-grow: 1;
    height: 2px;
    background-color: #fff;
    margin: 0 1rem;
}

.footer__count_visit {
    display: none;
}

.footer__copyright {
    text-align: center;
    width: 100%;
}

.footer__copyright_title {
    display: none;
}

@media (min-width: 1025px) {
    .footer__copyright_title {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;
        font-family: 'Teko', sans-serif;
        color: #000;
    }

    .footer__copyright_title sub {
        vertical-align: sub;
        font-size: 2rem;
    }

    .footer__count_visit {
        display: block;
        background-color: #3a78f2;
        margin-top: 2rem;
    }

    .footer__copyright {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 1rem;
    }
}