.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 1rem 4rem 0rem 5rem;
    gap: .3rem;
}

.footer__socialmedia_icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}

.footer__divider_line {
    display: flex;
    width: 100%;
    border: 2px;
    height: 2px;
    background-color: #fff;
}

.footer__count_visit {
    background-color: #3a78f2;
    text-align: center;
    margin-top: .3rem;
}

.footer__count_visit img {
    width: 170px;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__copyright_title {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Teko', sans-serif;
}

.footer__copyright_title sub {
    vertical-align: sub;
    font-size: 2rem;
}


@media (max-width: 767px) {

    .container__footer {
        padding: 0rem 1rem 1rem 1rem;
    }

    .container_copyright {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    .footer__title {
        display: none;
    }
}