.container__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 4rem 0rem 4rem;
    gap: .3rem;
}

.footer__title {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Teko', sans-serif;
}

.footer__title sub {
    vertical-align: sub;
    font-size: 2rem;
}

.container_copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem 0rem;
}

.social_media_icons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.count_visit {
    background-color: #3a78f2;
    margin-top: 1.5rem;
    text-align: center;
}

.visitor_counter {
    width: 150px;
}

.hr_line {
    display: flex;
    width: 100%;
    border: none;
    height: 2px;
    background-color: #fff;
}

@media (max-width: 767px) {

    .container__footer {
        padding: 2rem 1rem;
    }

    .container_copyright {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    .footer__title {
        display: none;
    }



}