.language-selector {
  display: flex;
  gap: 1rem;
}

.flags {
  display: flex;
}

.flags img {
  width: 30px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 500ms ease-in-out;
}

.flags img:hover {
  transform: scale(1.2);
}