.logo_title {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Teko', sans-serif;
    color: #fff;
}

.logo_title sub {
    vertical-align: sub;
    font-size: 3rem;
    margin-left: .3rem;
}

@media (max-width:1000px) {
    .logo_title {
        display: none;
    }
}