.menu__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: inherit;
    z-index: 20;
    background-color: var(--background-fixed);
}

.menu__navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    text-align: center;
}

.menu__navbar ul li {
    list-style: none;
    flex: 1;
    margin: 0;
    min-width: 150px;
}

.menu__navbar ul li a {
    display: block;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    color: #EEEEEE;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
    z-index: 1;
}

.menu__navbar ul li a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.menu__navbar ul li a.active {
    border-bottom: 1px solid #fff;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 1000px) {
    .menu__navbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 5rem;
        height: 100vh;
        justify-content: space-between;
        transition: transform 1s ease;
        transform: translateX(100%);
    }

    .menu__navbar.open {
        transform: translateX(0%);
    }

    .menu__navbar ul {
        flex-direction: column;
        margin: 0;
        gap: 1rem;
    }

    .menu__navbar ul li {
        width: auto;
    }
}