.container__projects {
    min-height: 100vh;
    position: relative;
    padding: 8rem 3rem 0rem 12rem;
}

.swiper-button-prev {
    position: absolute;
    top: 55%;
    left: 12%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next {
    position: absolute;
    top: 55%;
    right: 1%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-slide {
    padding: 1rem;
}

@media (max-width: 700px) {
    .container__projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 2rem;
        padding: 4rem 2rem 0rem 6rem;
    }
}