.container__social-icons {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 35%;
    left: 0;
    z-index: 5;
}

.container__social-icons li {
    padding: 0 1rem;
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -100px;
    transition-duration: 300ms;
}

.container__social-icons li:hover {
    margin-left: -10px;
}

.container__social-icons a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
    text-decoration: none;
}

.container__social-icons a:hover {
    color: #fff;
}

.li__linkedin {
    background-color: var(--secondary-color);
}

.li__github {
    background-color: #333333;
}

.li__email {
    background-color: var(--terciary-color);
}

.li__cv {
    background-color: #565f69;
}

@media (max-width: 767px) {
    .container__social-icons {
        display: none;
    }

}