.slider_testimonials {
    position: relative;
    max-width: 1440px;
    margin: auto;
}

.slider-container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: calc((100% - (calc(100% / 3) * 3)) / 2);
}

.testimonial-slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    flex-wrap: nowrap;
}

.testimonial {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 1);
    background-color: var(--quaternary-color);
    border-radius: 0.5rem;
    color: #000;
    transition: display 0.3s ease-in-out;
    gap: 1rem;
    padding: .2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    justify-content: space-around;
}

.testimonial.active {
    display: flex;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.testimonial.previous,
.testimonial.next {
    display: flex;
}

.testimonial_position {
    margin-top: 3rem;
}
.testimonial_name{
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.container_country{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.testimonial__country{
    width: 35px;
    margin-bottom: .5rem;
}

.testimonial__photo {
    border-radius: 50%;
    position: absolute;
    width: 150px;
    top: -110px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container_testimonials-social {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.social_FaGithub,
.social_linkedin {
    font-size: 2rem;
    color: var(--primary-color);
}

.slider-button {
    position: absolute;
    top: -2rem;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: var(--primary-color);
    border: solid 2px var(--text-color);
}

.slider-button.prev {
    left: 1rem;
}

.slider-button.next {
    right: 1rem;
}

.slider-button:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 1024px) {
    .slider-container {
        padding-left: 0;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    .testimonial-slider {
        transform: translateX(calc(-100% * var(--current-slide)));
    }

    .testimonial.active {
        display: flex;
    }

    .testimonial.previous,
    .testimonial.next {
        display: none;
    }

    .testimonial {
        margin: 0 1rem;
    }
}