.icon_navbar {
    display: none;
}

@media (max-width: 767px) {

    .icon_navbar {
        position: fixed;
        display: flex;
        font-size: 2rem;
        top: .5rem;
        right: .5rem;
        margin-bottom: 1rem;
        cursor: pointer;
        z-index: 500;
    }

}