.container__header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 85px;
    z-index: 20;
    padding: 3rem 0rem;
    background: #1b1b1b;
}

.icon__navbar {
    display: none;
}

@media (max-width: 767px) {

    .icon__navbar {
        position: fixed;
        display: flex;
        font-size: 2rem;
        top: 2rem;
        right: .5rem;
        margin-bottom: 1rem;
        cursor: pointer;
        z-index: 500;
        color: #29a6bb;
        background-color: transparent;
        border: none;
    }

}