.container_padre {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.container__header {
    position: sticky;
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 85px;
    z-index: 20;
    top: 0;
    width: 100%;
    background-color: var(--background-fixed);
}

.icon__navbar {
    position: fixed;
    display: block;
    font-size: 2rem;
    top: 1rem;
    right: .5rem;
    cursor: pointer;
    z-index: 500;
    color: var(--secondary-color);
    background-color: var(--background-color);
    outline: none;
    border: none;
}

/* Estilos para dispositivos de escritorio */
@media (min-width: 1000px) {
    .container__header {
        max-width: 2160px;
        margin: auto;
        padding: 0;
        top: 0;
    }

    .icon__navbar {
        display: none;
    }

    .container__header {
        justify-content: space-around;
    }
}