@font-face {
  font-family: 'Teko';
  src: url('./assets/fonts/Teko/Teko-Regular.ttf'),
    url('./assets/fonts/Teko/Teko-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf'),
    url('./assets/fonts/Roboto/Roboto-Bold.ttf');
  font-style: normal;
  font-display: swap;

}

:root {
  --background-color: #1b1b1b;
  --background-fixed: #1b1b1b;
  --secondary-color: #3a78f2;
  --terciary-color: #6fc2b0;
  --quaternary-color:#fff8;
  --text-color: #f9f5f6;
  --link-color: #f9f5f6;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 1rem;
}

body.Light__Mode {
  --background-color: #f9f5f6;
  --quaternary-color:#0003;
  --text-color: #1b1b1b;
  --link-color: #1b1b1b;
  --scrollbar-track-color: #f9f5f6;
  --scrollbar-thumb-color: #1b1b1b;
}

ul,
li {
  padding: 0;
  list-style: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
  color: var(--link-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-fixed);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 0.5rem;
}