@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oxanium', cursive;
  background: #1b1b1b;
  color: #fff;
}

body.Ligth__Mode {
  background-color: #fff;
  color: #000;
}

body.Ligth__Mode a {
  color: #000;
}

ul,
li {
  padding: 0;
  list-style: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Estilo del scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background: #3a78f2;
  border-radius: .5rem;
}


