/* @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --background-color: #1b1b1b;
  --text-color: #fff;
  --link-color: #fff;
  --scrollbar-track-color: #1b1b1b;
  --scrollbar-thumb-color: #3a78f2;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 1rem;
}

body.Light__Mode {
  --background-color: #f9f5f6;
  --text-color: #1b1b1b;
  --link-color: #1b1b1b;
  --scrollbar-track-color: #f9f5f6;
  --scrollbar-thumb-color: #1b1b1b;
  animation: 4s cubic-bezier(.25, 1, .30, 1) wipe-out-down both 1s color-change, 2s fade-out;
  ;

}

ul,
li {
  padding: 0;
  list-style: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 0.5rem;
}

@keyframes wipe-out-down {
  from {
    clip-path: inset(0 0 0 0);
  }

  to {
    clip-path: inset(100% 0 0 0);
  }
}

@keyframes color-change {
  0% {
    background-color: #1b1b1b;
    color: #fff;
  }

  100% {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --background-color: #1b1b1b;
  --text-color: #fff;
  --link-color: #fff;
  --scrollbar-track-color: #1b1b1b;
  --scrollbar-thumb-color: #3a78f2;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 1rem;
}

body.Light__Mode {
  --background-color: #f9f5f6;
  --text-color: #1b1b1b;
  --link-color: #1b1b1b;
  --scrollbar-track-color: #f9f5f6;
  --scrollbar-thumb-color: #1b1b1b;
  animation: 3.5s cubic-bezier(.25, 1, .30, 1) wipe-in-top-right both;
}

ul,
li {
  padding: 0;
  list-style: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 0.5rem;
}

@keyframes wipe-in-top-right {
  from {
    clip-path: polygon(-50% 50%, 50% 150%, 50% 150%, -50% 50%);
  }

  to {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }
}